.support-section{
background:#0f172a !important;
color:white;
}

.support-title{
font-size:36px;
font-weight:700;
}

.support-subtitle{
color:#ffffff;
margin-top:10px;
}

.ticket-card{
padding:25px;
margin-bottom:30px;
border:1px solid #1e293b;
border-radius:10px;
transition:0.3s;
}

.ticket-card:hover{
background:#193571;
}

.ticket-card h5{
margin-bottom:10px;
font-weight:600;
}

.ticket-desc{
font-size:14px;
color:#94a3b8;
margin-bottom:15px;
}

.ticket-card a{
display:block;
text-decoration:none;
color:#cbd5f5;
font-size:14px;
line-height:2;
}

.ticket-card a:hover{
color:#3b82f6;
}